body {
	background-color: #404D78;
	font-family: Tahoma;
}

#bodyContainer {
	background-color: #E5E5E5;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 10px;
}

#header {
	font-weight: bold;
	font-size: 24px;
	padding: 5px;
	margin: 5px;
}

p {
	margin-top: 10px;
	font-size: 14px;
}

.infoHeader {
	margin-top: 30px;
	font-size: 18px;
}

.infoHeader a {
	font-size: 12px;
}

